name: Codecov

permissions:
  contents: read
  security-events: write
  actions: write

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: macos-13

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Setup pnpm
        # You may pin to the exact commit or the version.
        # uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
          
      - name: Output a Coverage report file
        run: pnpm install && pnpm run test:coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: oc-2/developer-tooling-app
